{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Alfred Meshack Ochieng</title>
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/Me.jpg' %}" >
					<hr>
					<h4>Hi I'm Alfred Meshack Ochieng!</h4>
					<p>I love coding, researching and collaborating</p>

                    <ul class="social-links" style= "padding:0; margin:3; list-style-type: none; display: inline-block">
						<li><a href="https://web.facebook.com/alfredmeshack.ochieng/" target="_blank">Facebook</a><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><a href="https://www.linkedin.com/in/alfred-meshack-a566201b4/" target="_blank">Linkedin</a><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><a href="https://www.youtube.com/@techninja2828" target="_blank">Youtube</a><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Professional Qualifications</h4>
					<hr>
					<p>I formally enrolled for a bachelor's degree in Computer Science at the University of the People on 06/17/2021 and finished on 08/28/2024 with a high honors CGPA of 3.74/4.0. While taking the program, areas that fascinated me were Artificial Intelligence, Blockchain Technology, Machine Learning, Software Engineering, and Big Data Analytics. I Joined Africa's Power Learn Project's (PLP) fourth cohort of August 2024 for an intensive 16-week boot camp to enhance my skills in software engineering and entrepreneurship. I have certifications in Data Science, Information Systems, Cyber Security, and Artificial Intelligence.
                    </p>

					<p>I am proficient in a wide variety of programming languages including Python, PHP, and Java. I can comfortably use the languages' associated frameworks such as Django and Flask, Laravel, and Spring Boot. I'm pretty good at styling web applications using CSS Bootstrap and enhancing functionality with appropriate Javascript enhancements.</p>

					<p>From this you’ll see that I’m an avid learner open to discovering the latest technologies.</p>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Project 1</h5>
					<hr>
					<p>Blogs Website</p>
					<p>Designed, built and managed a blogs page as a sole developer. Supported thousands of customers with a UI for Blogs Admins and a content management dashboard.</p>
					
                <ul class="social-links" style= "padding:0; margin:1; list-style-type: none; display: inline-block">
						<li><a href="https://www.linkedin.com/in/alfred-meshack-a566201b4/" target="_blank">Source Code  </a><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><a href="https://www.linkedin.com/in/alfred-meshack-a566201b4/" target="_blank">Live site</a></li>
					</ul>
                </div>  
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Project 2</h5>
					<hr>
					<p>Events Website</p>
					<p>Utilized Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>

                    <ul class="social-links" style= "padding:0; margin:1; list-style-type: none; display: inline-block">
						<li><a href="https://www.linkedin.com/in/alfred-meshack-a566201b4/" target="_blank">Source Code  </a><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><a href="https://www.linkedin.com/in/alfred-meshack-a566201b4/" target="_blank">Live site</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Project 3</h5>
					<hr>
					<p>AI Chatbot.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>

                    <ul class="social-links" style= "padding:0; margin:1; list-style-type: none; display: inline-block">
						<li><a href="https://www.linkedin.com/in/alfred-meshack-a566201b4/" target="_blank">Source Code  </a><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><a href="https://www.linkedin.com/in/alfred-meshack-a566201b4/" target="_blank">Live site</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost four years of building transformative solutions, I’m ready to mentor others into progressive growth like me. I'll be sharing my experience with others on my blog & youtube channel.</p>
				<p>I would love to be part of a bigger team to learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>

</body>
</html>